:root {
  --brand-color: #212121;
  --accent-color: #2196f3;
  --basic-color: #ffffff;
  --fon-color: #2f303a;
  --letter-color: #757575;
  --background-team-color: #f5f4fa;
  --black-color: #000000;
  --link-color: #188ce8;
  --icon-color: #afb1b8;
  --border-color: #eeeeee;
}

/*NORMALIZE*/
a {
  display: inline-block;
}

/*RESET*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*reset*/

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--basic-color);
}

/*HEADER*/
section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-links-text:not(:last-child) {
  margin-right: 50px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nav-links {
  display: flex;
  margin: 0;
  margin-left: 93px;
  padding: 0;
  align-items: center;
}

.nav-contakts {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  align-items: center;
}
.marker {
  list-style: none;
}

/*HEADER-logo*/

.header-webstudio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.header-webstudio .header-studio {
  color: var(--black-color);
}

.link {
  color: var(--brand-color);
  font-weight: 500;

  line-height: 1.2;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  color: var(--accent-color);
}
.link:focus {
  color: var(--accent-color);
}
.link:active {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  width: auto;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;

  position: relative;
  bottom: -26px;

  overflow: hidden;
}

span .header-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700px;
}
.nav-links-text {
  display: flex;
  align-items: center;
}

/*hover-mail-tel-start*/
.contacts-mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: var(--letter-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-mail:hover {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.contacts-mail:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.contacts-mail:focus .icons-contacts-form {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.contacts-mail:hover .icons-contacts-form {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.contacts-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: var(--letter-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-tel:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.contacts-tel:hover {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.contacts-tel:focus .icons-contacts-form {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.contacts-tel:hover .icons-contacts-form {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.icons-contacts-form {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--letter-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*hover-mail-tel-finish*/

/*MAIN*/
/*hero*/
.hero {
  background-color: var(--fon-color);
  padding-top: 200px;
  padding-bottom: 200px;
  /*background-image*/
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background-image.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  color: var(--basic-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  margin-left: 252px;
  margin-right: 252px;
  margin-top: 0px;
}

/*our mission*/
/*hiden*/
/*start*/
.thumb {
  position: relative;
  margin: 0px;

  overflow: hidden;
  background-color: var(--basic-color);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.thumb > .label {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 27px 82px;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--basic-color);

  font-weight: 700;

  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*end*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-contents {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 10px;
  color: var(--brend-color);
}

.title-contents-size::before {
  display: block;
  content: '';
  height: 120px;
  width: 270px;

  background-position: center;
  background-color: var(--background-team-color);
  margin-bottom: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
}
.icon-antenna::before {
  background-image: url('../images/icons/antenna_o.svg');
}

.icon-clock::before {
  background-image: url('../images/icons/clock_o.svg');
}

.icon-diagram::before {
  background-image: url('../images/icons/diagram_o.svg');
}

.icon-astronaut::before {
  background-image: url('../images/icons/astronaut_o.svg');
}

.title-contents-size:not(:last-child) {
  margin-right: 31px;
}

.title-contents-form {
  display: flex;
  justify-content: space-between;
}
/*icons-mission*/

.icons-mission {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: contain;
  background-position: center;
  background-color: var(--background-team-color);
  background-repeat: no-repeat;
}

.icons-mission-form {
  background-size: contain;
  background-position: center;
  width: 270px;
  height: 120px;
  padding: 25px;
}

.content {
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--letter-color);
  margin-bottom: 0px;
}

.work {
  padding-top: 0px;
}

.our-works {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-style: normal;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.our-team {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.fon-section-team {
  background: var(--background-team-color);
}

.our-team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--basic-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03ex;
  color: var(--letter-color);
  text-align: center;
  margin-bottom: 16px;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03ex;
  color: var(--brand-color);
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

.style {
  background-position: 50% 50%;
}

.icons-team-form {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
}
.icon-link:hover .icons-team-form {
  fill: var(--basic-color);
}

.icon-link:focus .icons-team-form {
  fill: var(--basic-color);
}

.icons-team-form:hover,
.icons-team-form:focus {
  fill: var(--basic-color);
}

.icons-team {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding-bottom: 30px;
}

.icons-team-size:not(:last-child) {
  margin-right: 10px;
}

/*Постоянные клиенты*/

.section-client {
  margin-bottom: 50px;
  text-align: center;
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.client {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.client-cards {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--basic-color);
}

.link-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  height: 92px;
  width: 170px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-logo:hover {
  border: 1px solid var(--accent-color);
}

.link-logo:hover {
  border: 1px solid var(--accent-color);
}

.client-cards-form {
  fill: var(--icon-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-logo:hover .client-cards-form {
  fill: var(--accent-color);
}
.link-logo:focus .client-cards-form {
  fill: var(--accent-color);
}

/*FOOTER*/

.footer-webstudio {
  font-family: 'Raleway', sans-serif;
  line-height: 1.18;
  text-decoration: none;
}

span .footer-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700px;
}

.foot {
  background-color: var(--fon-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-footer {
  font-style: normal;
  font-weight: 400;
  line-height: 1.68;
  text-decoration: none;
  color: rgba(225, 225, 225, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer-form:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer:hover {
  color: var(--accent-color);
}
.contact-adress {
  font-style: normal;
  font-weight: 400;
  line-height: 1.68;
  text-decoration: none;
  color: var(--basic-color);
}

.footer-webstudio {
  color: var(--accent-color);
}
.footer-webstudio .studio {
  color: var(--basic-color);
}

.footer-webstudio {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  margin-bottom: 20px;
}
.footer-form {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.icons-footer {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.icons-footer-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.icon-size-padding {
  padding-top: 10px;
}
.icon-size:not(:last-child) {
  margin-right: 70px;
}

.icons-footer-form {
  width: 44px;
  height: 44px;
  fill: var(--basic-color);
  align-items: center;
  justify-content: center;
  padding: 25%;
}

.icon-footer-link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer-link:hover,
.icon-footer-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  background-position: center;
}

.icon-footer:not(:last-child) {
  margin-right: 10px;
}

/*HEADER PORTFOLIO*/

.header {
  border: 1px solid var(--border-color);
}

/*MAIN PORTFOLIO*/
/* buttons portfolio*/

.button-header {
  background-color: var(--accent-color);
  border-radius: 4px;
  text-align: center;
  border: none;
}

.button-position {
  text-align: center;
}
.button:hover {
  background-color: var(--link-color);
}

.current-portfolio:hover {
  background: var(--accent-color);
  color: var(--basic-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-portfolio:focus {
  background: var(--accent-color);
  color: var(--basic-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-portfolio:active {
  background: var(--accent-color);
  color: var(--basic-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.name_button-port {
  color: var(--black-color);
}

.name-button {
  color: var(--basic-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  margin: 0px;
  padding: 10px 32px 10px 32px;
}

/*our project*/

.cards-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.53;
  border-radius: 4px;
  font-family: inherit;
  background: var(--background-team-color);
  cursor: pointer;
  border: var(--letter-color);
  padding-left: 22px;
  padding-right: 22px;
  height: 38px;

  transition-property: color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-size:not(:last-child) {
  margin-right: 8px;
}

.cards-portfolio:hover {
  background-color: var(--accent-color);
}

/*overlay-start*/
.text-position {
  padding: 63px 24px 63px 24px;
  margin: 0px;
}
.box {
  position: absolute;
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.our-project-card:hover .overlay {
  transform: translatex(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 400ms ease;
}

.overlay > p {
  color: var(--basic-color);
  font-size: 18px;
  line-height: 1.56;
}
/*overlay-end*/

.name-project {
  font-size: 18px;
  line-height: 2;
  padding-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
  font-weight: 700;
  font-family: 'Roboto';
  font-style: normal;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.portfolio-container-button {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding: 0px;
}

.our-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  gap: 30px;
}

.our-project-card {
  background: var(--basic-color);
  border: 1px solid var(--border-color);
  width: 370px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-project-card:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.contacts {
  color: var(--letter-color);
  text-decoration: none;
}
.contacts:hover {
  color: var(--accent-color);
}
.contacts:focus {
  color: var(--accent-color);
}

a {
  text-decoration: none;
}

.job {
  padding-left: 24px;
  margin: 0px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--letter-color);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;

  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--letter-color);
}

/*MAIN PORTFOLIO*/

.contact-footer-form {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-footer-list {
  display: block;

  padding: 0px;
  margin: 0px;
}

.section-portfolio-button {
  padding-bottom: 50px;
}

.section-portfolio-project {
  padding-top: 0px;
}

/*FORM FIELD*/

.form-field-input {
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgb(117, 117, 117);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-field-size {
  position: absolute;
  left: 15px;
  top: 50%;
  height: 18px;
  width: 18px;
  transform: translateY(-50%);
  fill: var(--brand-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-inner:focus-within > .icons-field-size {
  fill: var(--link-color);
}
.form-field-input:focus-within {
  border: 1px solid var(--link-color);
}

.form-field-input-com {
  outline: none;
  width: 100%;
  height: 120px;

  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-input-com:focus {
  border: 1px solid var(--accent-color);
}

.form-field-label {
  display: block;

  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--letter-color);
}
.form-field-label-position {
  margin-bottom: 4px;
}
.form-field-terms {
  display: flex;
  justify-content: space-evenly;
}

textarea {
  resize: none;
}

.form-field-input-com::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field-button {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.form-field-button:hover {
  background: var(--link-color);
}
.form-field-button:focus {
  background: var(--link-color);
}

.form-field-button-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin: 10px 55px 10px 56px;
  letter-spacing: 0.06em;
  color: var(--basic-color);
}

.form-field-button-position {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/*CHECKBOX*/

.checkbox-size:nth-child(1) {
  margin-right: 10px;
}
.checkbox-size:nth-child(2) {
  margin-right: 4px;
}
.contract {
  color: var(--link-color);
  margin-left: 4px;
}
.contract::after {
  color: var(--link-color);
  display: block;
  content: '';
  height: 1px;
  background: var(--link-color);
}
.text-contract {
  color: var(--letter-color);
}

/* MODAL*/
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--basic-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 17px;
  right: 17px;
  border-radius: 50%;
  background: var(--basic-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 30px;
  outline: none;
}

.title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.icons-modal {
  fill: rgba(0, 0, 0, 1);
}
.icons-modal-size {
  height: 17px;
  width: 17px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-modal-size:hover {
  fill: var(--link-color);
}
.icons-modal-size:focus {
  fill: var(--link-color);
}
.form-field-inner {
  position: relative;
}

/*CHECKBOX-4*/
.checkbox {
  margin-left: 35px;
}
.checkbox__input {
  appearance: none;
  position: absolute;
}
.che__box {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -20px;
  background-image: url(/images/icons/icons_checkbox/check_o.svg);
  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__lable {
  margin-left: 20px;
}
.checkbox__input:checked + .che__box {
  background-image: url(/images/icons/icons_checkbox/icon_check_activ_o.svg);
}

